<h2>Recent Sales</h2>
    {{#each meta.panels}}
    
        {{#unless header}}
        
            {{#each grid}}
        
                <div class="row-fluid {{../name}}{{#if ../hide}}{{#if ../../../../view.hidePanel}} hide{{/if}}{{/if}}">
                    {{#each this}}
                        
                        {{#if name}}
                            
                            <div class="{{#if ../../../labelsOnTop}}span{{span}} {{else}}span{{cellSpan}} {{/if}}record-cell{{#if cell_css_class}} {{cell_css_class}}{{/if}}" data-type="{{type}}" data-name="{{name}}">
                                {{decoratedField 'record-decor'  ../../../../../this model=../../../../../this.myModel template='detail'}}
                            </div>
                        {{else}}
                            <div class="span{{cellSpan}} record-cell filler-cell">
                                {{#unless ../../../labelsOnTop}}<div class="labels-on-side">{{/unless}}
                                    <div class="record-cell span{{cellSpan}}"></div>
                                {{#unless ../../../labelsOnTop}}</div>{{/unless}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            {{/each}}
        {{/unless}}
    {{/each}}